# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/text-adventure/v16/.suo
*.json
*.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/text-adventure.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/text-adventure.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/text-adventure.assets.cache
obj/Debug/netcoreapp3.1/text-adventure.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/text-adventure.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/text-adventure.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/text-adventure.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/text-adventure.genruntimeconfig.cache
obj/project.nuget.cache
obj/text-adventure.csproj.nuget.g.props
obj/text-adventure.csproj.nuget.g.targets
.vs/text-adventure/DesignTimeBuild/.dtbcache.v2
*.sqlite
.vs/text-adventure-game/v16/.suo
obj/Release/netcoreapp3.1/text-adventure.AssemblyInfo.cs
obj/Release/netcoreapp3.1/text-adventure.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/text-adventure.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
